.container{
    padding-top: 0;
    padding-bottom: 0;
}

.chip.v-chip{
   color:#fff;
}

.v-pagination{
    padding-top:20px;
    padding-bottom:20px;
}

.padding20{
    padding: 2rem;
}

.filterIcon{
    margin-right: 10px;
}

#app .filterBtn{
    height: 2.7rem;
    width: 8rem;
}

.product{
    display: flex;
    align-items: center;
    max-width: 250px;
    min-width: 250px;
    padding: 10px 0;

    &__thumbnail{
        width:50px;
        height:50px;
        border-radius: 50%;
        margin-top:0.5rem;
        margin-top:0.5rem;
        margin-bottom:0.5rem;
        margin-right:1rem;
    }

    &__detail{
        flex:1
    }

    &__name{
        font-weight: bold;
        font-size: 1rem;
    }
}

#app thead{
    background-color: #167df0;

    th{
        color:#fff !important;
    }
}

.page-searchbar{
    margin: 0 0 12px auto;
    width: 20rem;
    padding: 5px 1rem;
    border: solid #ccc 1px;
    background: #eee;
    border-radius: 2px;

     .v-input__slot::after,
     .v-input__slot::before{
        display: none;
    }

    i{
        cursor: pointer;
    }

    @include mobile {    
      width:auto;
   }
}